body {
  background: #202020;
  color: whitesmoke;
}

.navbar {
  background: #404040;
  padding: 3px 0;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  color: aquamarine;
}

.navbar ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: aquamarine;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.card {
  background: wheat;
  color: black;
  padding: 10px;
  margin-bottom: 2px;
}

.input {
  background: pink;
  padding: 10px;
  text-align: center;
  display: block;
}
