{% extends 'layout/base.html' %}

{% block content %}
<h1>About</h1>
<h2>{{username}}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ea rerum odio maiores quae quasi quis totam! Sunt odio illum non blanditiis sit rerum culpa voluptatem laboriosam, eaque quis iusto soluta nesciunt provident porro. Tempora delectus reiciendis commodi soluta, nulla ab rerum modi, eius suscipit quisquam at amet magni facere perspiciatis non maxime, sint hic provident et velit iure animi obcaecati cupiditate pariatur? Iure nesciunt cum numquam dolorum, aliquid eveniet alias voluptas quae, delectus explicabo maiores, quos ut modi nobis ex laudantium! Aperiam sed dicta repellendus, sunt ut incidunt consequatur dolorum? Iusto tenetur asperiores perspiciatis totam. Maxime totam voluptatem perspiciatis!</p>
{% endblock %}