{% extends 'layout/base.html' %}

{% load static %}
{% block content %}
<h1>Welcome to Django App</h1>
<h2>{{title}}</h2>

<img src="{% static 'hacker.jpeg' %}" alt="" width="700">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quasi et molestias praesentium inventore magni veritatis veniam delectus quod! Veritatis atque quidem quam ex obcaecati nemo natus et impedit asperiores!</p>

{% endblock %}