{% extends 'layout/base.html' %}

{% block content %}
  
<h1>tasks</h1>

{% for task in tasks %}
<div>
  {# note@: esta es una tarea#}
  <h1>{% if task.done == False %} 🕗 {% else %} ✅ {% endif %} {{task.title}}</h1>
  <p>{{task.description}}</p>
  <p>Project: {{task.project}}</p>
  <button>
    Delete
  </button>
  <button>
    ✅ Done
  </button>
</div>
{% endfor %}
{% endblock %}