{% extends 'layout/base.html' %}
{% block content%}
<h1>Project</h1>

{% for project in projects %}

<article class="card">
  <a href="{% url 'project_detail' project.id %}">
    <h1>{{project.name}}</h1>
  </a>
  </article>
{% endfor %}
{% endblock %}
